@charset "utf-8";

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');

/* Body and some gerneral things */

*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	background: #FFFFFF;
	color: #1e1e27;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 500;
	color: black;
	margin-bottom: 0;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 2px #fde0db;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FF6347;
	background: #fde0db;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #fde0db;
	color: #FF6347;
}
p::selection
{
	background: #fde0db;
}
h1{font-size: 72px;}
h2{font-size: 40px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	color: #282828;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
::-webkit-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
::-moz-placeholder /* Firefox 19+ */
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
:-ms-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
::input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}

/* Main Nav */
.container {
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main_nav_container
{
	width: 100%;
	background: #000000d9;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}
.navbar
{
	width: auto;
	height: 100px;
	float: right;
	padding-left: 0px;
	padding-right: 0px;
}
.navbar_menu li
{
	display: inline-block;
}
.navbar_menu li a
{
	display: block;
	color: white;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 20px;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.navbar_menu li a:hover
{
	color: #b5aec4;
}
.navbar_user
{
	margin-left: 37px;
}
.navbar_user li
{
	display: inline-block;
	text-align: center;
}
.navbar_user li a
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 40px;
	height: 40px;
	color: #1e1e27;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.navbar_user li a:hover
{
	color: #b5aec4;
}
.checkout a
{
	background: #eceff6;
	border-radius: 50%;
}
.checkout_items
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -9px;
	left: 22px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fe4c50;
	font-size: 12px;
	color: #FFFFFF;
}

/* Logo */

.logo_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 15px;
}
.logo_container a
{
	font-size: 28px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
}
.logo_container a span
{
	color: #fe4c50;
}

/* Select type */
.type {
	padding: 40px 0;
}

/* Products */
.product-grid
{
	width: 100%;
	margin-left: 0;
}
.product-item
{
	height: 480px;
	cursor: pointer;
	margin-bottom: 20px;
	border: 1px solid #8b8888a6;
	border-radius: 8px;
	margin: 1% 1%;
}
.product-item::after
{
	display: block;
	position: absolute;
	top: 0;
	left: -1px;
	width: calc(100% + 1px);
	height: 100%;
	pointer-events: none;
	content: '';
	border: solid 2px rgba(235,235,235,0);
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.product-item:hover::after
{
	box-shadow: 0 25px 29px rgba(128, 19, 201, 0.15);
	border: solid 2px rgb(153, 120, 120);
	border-radius: 8px;
}
.product-item.col-3 {
	max-width: 23%;
	background-color: #c3b4d047;
}
.product
{
	width: 100%;
	height: 340px;
	margin: 10px auto 50px auto;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }
.product_image
{
	width: 80%;
}
.product_image img
{
	width: 100%;
	border-radius: 8px;
}
.product_info
{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.product_name
{
	margin-top: 27px;
	color: #220404;
    font-size: 18px;
}
.product_name a
{
	color: #1e1e27;
	line-height: 20px;
}
.product_name:hover a
{
	color: #b5aec4;
}
.discount .product_info .product_price
{
	font-size: 14px;
}
.product_price
{
	font-size: 16px;
	color: #26ff00;
	font-weight: 600;
}
.red_button
{
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 40px;
	background: #fe4c50;
	border-radius: 3px;
	margin: 30px auto;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.red_button:hover
{
	background: #FE7C7F !important;
}
.red_button a
{
	display: block;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
}
.add_to_cart_button
{
	width: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.add_to_cart_button a
{
	font-size: 12px;
	font-weight: 600;
}
.product-item:hover .add_to_cart_button
{
	visibility: visible;
	opacity: 1;
}

/* Cart Modal */
/* cart  */
.cart {
	height: 100vh;
    width: 730px;
    text-align: center;
    padding-top: 30px;
    position: fixed;
    right: -100%;
    top: 0px;
    background-image: linear-gradient(to right, #29323c, #61676e, #7e8387, #858585);
    overflow: scroll;
    border-radius: 8px;
}
.cart h2 {
	margin-bottom: 20px;
	color: white;
}
.cart p {
	color: white;
}
.cart img {
	width: 70px;
	height: auto;
	margin: auto 10px;
}
.cart .tdName {
	display: flex;
	align-items: center;
}
.cart input {
	width: 30px;
	height: auto;
	outline: none;

}
.cart .delete {
	cursor: pointer;

}
.cart table {
	width: 100%;
}
.cart table  thead tr th:first-child {
	text-align: left;
}
.cart table td {
	vertical-align: middle;
	border: none;
}
.cart table tr td {
	padding: 12px 0;
}
.price-total p {
	font-weight: bold;
	color: white;
	text-align: right;
	font-size: 18px;
}
.cart table  thead tr th:last-child {
	text-align: right;
}
#cartBody .wrapper {
	margin: 0 auto;
	color: white;
}
.wrapper{
    max-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #969696;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(136 130 130 / 20%);
}
.wrapper span{
	width: 100%;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.wrapper span.num{
	border-right: 2px solid rgba(0,0,0,0.2);
	border-left: 2px solid rgba(0,0,0,0.2);
	pointer-events: none;
}
#cartBody i {
	cursor: pointer;
}
.cart i {
	cursor: pointer;
}
.cart .content {
	margin: 0 20px;
	position: relative;
}
.cart .content .fa-xmark {
	justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    background-color: #eceff6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
}
.cart .content .fa-xmark:hover {
	color: #b5aec4;
}
/* Purchase and Clear btn */
#clear p,
#purchase p {
	margin-right: 5px;
	color: white;
	font-size: 18px;
}
#purchase i {
	color: white;
}
.buttons {
    text-align: center;
	justify-content: flex-end;
	margin-top: 10px;
}
.buttons #purchase {
	color: black;
	display: inline-flex;
	align-items: center;
    justify-content: center;
	padding: 10px 20px;
	background-color: #ccc;
    border-radius: 8px;
	margin-right: 20px;
	cursor: pointer;
}
.buttons #clear {
	display: inline-flex;
	align-items: center;
    justify-content: center;
	padding: 10px 20px;
	background-color: #ccc;
    border-radius: 8px;
	cursor: pointer;
}
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.btn-delete {
	width: 30px;
	height: auto;
	border-radius: 3px;
	border: none;
	background-color:#eceff6;

}
.btn-delete .fa-trash-can:hover {
	color: #b5aec4;
}	
.btn-hover:focus {
    outline: none;
}
.btn-hover.color-1 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-2 {
	background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
#cartBody tr {
	transition: all .4s ease-in-out;
}
#cartBody tr:hover {
	background-color: rgba(223, 215, 215, 0.103);
}

/*  */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  }
  
  @keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }